.btn-teal {
	background: #81A9AB;
	padding: 10px 15px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	transition: 0.3s;
}

.btn-teal:hover {
	background-color: #A0B4B6;
}