.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 30px rgba(125,194,185,0.5);
    border-radius: 10px;
    margin: 5px;
    flex-basis: 350px;
    flex-grow: 1;
    transition: 0.3s;
}

.card:hover {
    margin: 10px;
    cursor: pointer;
}

.card > img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
}

.card > h3 {
    font-weight: bold;
    flex-grow: 1;
    padding-left: 30px;
    font-size: 25px;
}

.card > a {
    font-size: 18px;
}